#selected-analysis-type {
    display: none; /* This will hide the selected analysis type text */
}

body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 55px;
    margin-top: 0; /* Remove any top margin */
    padding-top: 0; /* Remove any top padding */
    font-size: 14px; /* Reduced font size */
}

/* General container styles */
.container {
    margin: 20px auto;
    width: 74%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    min-width: 700px;
    font-family: 'Open Sans', sans-serif; /* Apply Open Sans font */
}

/* Specific styles for the header container */
.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #001f3f;
    color: #ffffff;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    width: 74%;
    min-width: 700px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.header-title {
    margin: 0;
    padding: 0;
    font-size: 24px;
    text-align: center;
    flex: 1;
}

h1 {
    margin: 0px; /* No margin for the header text */
    padding: 0;
    font-family: 'Open Sans', sans-serif; /* Apply Open Sans font */
}

.form-container {
    margin-top: 0;
    padding-top: 10px;
    background: #f8f8f8;
    min-height: 180px;
    font-family: 'Open Sans', sans-serif; /* Apply Open Sans font */
}

.form-container h2 {
    margin-top: 0;
    padding-top: 0;
    font-family: 'Open Sans', sans-serif; /* Apply Open Sans font */
}

.active-button {
    background-color: #001f3f;
    color: white;
    border: 2px solid #001f3f;
    border-radius: 3px; /* Add border-radius for rounding */
    font-family: 'Open Sans', sans-serif; /* Apply Open Sans font */
    height: 24px; /* Set height for active button */
}

.form-section {
    display: flex;
    align-items: center; /* Align items at the center */
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif; /* Apply Open Sans font */
}

.form-section label {
    flex: 0 0 226px; /* Fixed width for labels */
    text-align: left;
    align-self: flex-start; /* Align labels to the top */
    font-family: 'Open Sans', sans-serif; /* Apply Open Sans font */
}


.spacer {
    flex-grow: 1; /* This will make the spacer take up all available space */
    height: 24px; /* Ensure it matches the height of the input */
}


/* Ensure consistent border color for the "Choose File" button */
.form-section input[type="file"]::file-selector-button {
    border: 1px solid #ccc; /* Ensure consistent border color */
    border-radius: 3px; /* Add border-radius for rounding */
    padding: 5px;
    width: 200px; /* Set width to match Analyze and Download Excel buttons */
    height: 24px; /* Set height to match other buttons */
}

.form-section input[type="file"] {
    flex: 1;
    margin-left: 10px; /* Add some space between label and input */
    padding: 0px; /* Add some padding for better appearance */
    border: none; /* Remove border for input[type="file"] */
    padding-left: 0px; /* Add padding to align correctly */
}

.form-section select,
.form-section button {
    flex: 1;
    margin-left: 10px; /* Add some space between label and input */
    border-radius: 3px; /* Add border-radius for rounding */
    border: 1px solid #ccc; /* Add consistent border color and width */
    font-family: 'Open Sans', sans-serif; /* Apply Open Sans font */
    height: 24px; /* Set height to match Analyze and Download Excel buttons */
    max-width: 200px; /* Set a max-width for dropdown and buttons */
}

.form-section textarea {
    flex: 1;
    margin-left: 10px; /* Add some space between label and input */
    border-radius: 3px; /* Add border-radius for rounding */
    border: 1px solid #ccc; /* Add consistent border color and width */
    font-family: 'Open Sans', sans-serif; /* Apply Open Sans font */
    width: 100%; /* Make the prompt box as wide as possible */
    padding: 0;
    margin-bottom: 10px;
    box-sizing: border-box;
    resize: vertical;
}

#analysis-status {
    font-family: inherit;
    font-weight: normal; /* Match the font weight of "Analysis Status:" */
    border: none; /* Remove border */
    margin-left: 10px; /* Align with other elements on the right */
}

.form-section .status-text {
    font-family: inherit;
    font-weight: normal; /* Match the font weight of "Analysis Status:" */
    display: flex;
    align-items: center; /* Align content at the center */
    font-family: 'Open Sans', sans-serif; /* Apply Open Sans font */
    border: none; /* Remove border */
}

.left-align {
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Open Sans', sans-serif; /* Apply Open Sans font */
}

.footer-margin {
    height: 0px;
}

footer {
    text-align: center;
    padding: 0px;
    position: fixed;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    height: 55px;
    left: 0;
    background: #001f3f;
    color: #ecf0f1;
    font-family: 'Open Sans', sans-serif; /* Apply Open Sans font */
}

button:disabled {
    background-color: #ccc;
    color: #666;
    border: 2px solid #aaa;
    cursor: not-allowed;
    border-radius: 3px; /* Add border-radius for rounding */
}



/* Info button styles */
.info-button {
    cursor: pointer;
    margin-left: 0px;
    padding-bottom: 3px;
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 18px; /* Ensure it's a circle */
    height: 18px; /* Ensure it's a circle */
}

.info-box {
    display: none;
    background-color: #f8f8f8;
    color: #000; /* Set text color to black */
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 45px; /* Adjust padding for better margin */
    position: fixed;
    z-index: 1000;
    max-width: 460px;
    left: 50%;
    top: 136px;
    transform: translateX(-50%); /* Center horizontally only */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left; /* Align text to left */
}

.info-box .close {
    position: absolute;
    top: 10px;
    right: 10px;
    margin-right: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #000;
}

.info-box h4 {
    font-weight: bold; /* Bold header */
}

.info-box p {
    margin: 0; /* Remove default margin for paragraphs */
}





.loader {
    position: relative;
    width: 100px;
    height: 100px;
    display: none;
    margin: 10px auto;
    left: -12px; /* Adjust this value to properly center the loader */
}

.loader .outer-ring, .loader .inner-ring {
    position: absolute;
    border: 10px solid transparent; /* Slightly thicker border */
    border-radius: 50%;
    animation: spin linear infinite reverse, color-change 3s ease-in-out infinite reverse; /* Reversed animation */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Similar shadow to containers */
}

.loader .outer-ring:nth-child(1) {
    width: 100px;
    height: 100px;
    border-top: 10px solid #001f3f; /* Navy blue */
    animation-duration: 1.6s; /* Speed for outer ring */
}

.loader .outer-ring:nth-child(2) {
    width: 100px;
    height: 100px;
    border-top: 10px solid #001f3f; /* Navy blue */
    animation-duration: 1.6s; /* Speed for outer ring */
    animation-delay: -0.8s; /* Opposite phase */
}

.loader .inner-ring:nth-child(3) {
    width: 70px; /* Slightly smaller to create a gap */
    height: 70px;
    top: 15px; /* Adjusted positioning for the gap */
    left: 15px;
    border-top: 10px solid #001f3f; /* Navy blue */
    animation-duration: 1.3s; /* Faster speed for inner ring */
}

.loader .inner-ring:nth-child(4) {
    width: 70px; /* Slightly smaller to create a gap */
    height: 70px;
    top: 15px; /* Adjusted positioning for the gap */
    left: 15px;
    border-top: 10px solid #001f3f; /* Navy blue */
    animation-duration: 1.3s; /* Faster speed for inner ring */
    animation-delay: -0.65s; /* Opposite phase */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes color-change {
    0%, 100% { border-top-color: #001f3f; }
    25% { border-top-color: #ba00bf; }
    50% { border-top-color: #d50000; }
    75% { border-top-color: ##ff6f00; }
}




.generated-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif; /* Apply Open Sans font */
}

.generated-table th, .generated-table td {
    border: 1px solid #333;
    text-align: left; /* Align text to the left in all cells */
    vertical-align: top; /* Align text to the top in all cells */
    background-color: #ffffff;
    color: black;
    font-family: 'Open Sans', sans-serif; /* Apply Open Sans font */
}

.generated-table th {
    background-color: #f2f2f2;
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: left;
    font-family: 'Open Sans', sans-serif; /* Apply Open Sans font */
}

.generated-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.generated-table tr:hover {
    background-color: #ddd;
}

.generated-table td {
    font-size: 13px; /* Smaller font size for normal text */
    font-family: 'Open Sans', sans-serif; /* Apply Open Sans font */
}



/* Specific styles for login form */
.login-title {
    margin-top: 0;
    padding-top: 0;
    font-family: 'Open Sans', sans-serif; /* Apply Open Sans font */
    text-align: center; /* Center the login title */
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-fields-container {
    max-width: 300px; /* Set max width for the container */
    width: 100%;
}

.login-form-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
    width: 100%;
}

.login-label {
    margin-bottom: 5px;
    text-align: left;
    width: 100%;  /* Ensure the label takes the full width */
}

.login-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%; /* Ensure input takes full width of the container */
}

.login-button {
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    background-color: #001f3f;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    align-self: center; /* Center the button */
}

.login-button:hover {
    background-color: #001a35;
}




/* Additional styles for user info in header */
.user-info {
    position: absolute;
    right: 20px;
    display: flex;
    align-items: center;
    text-align: right;
}

.user-info p {
    margin: 0;
}

.user-info .separator {
    margin: 0 10px;
}

.user-info form {
    display: inline-block;
}

.logout-button {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.logout-button i {
    margin-right: 5px;
}




/* Additional styles for user info in header */
.user-info {
    position: absolute;
    right: 20px;
    display: flex;
    align-items: center;
    text-align: right;
}

.user-info p {
    margin: 0;
}

.user-info .separator {
    margin: 0 10px;
}

.user-info form {
    display: inline-block;
}

.logout-button {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.logout-button i {
    margin-right: 5px;
}






.user-info {
    position: absolute;
    right: 20px;
    text-align: right;
    display: flex;
    align-items: center;
}

.user-info p {
    margin: 0;
}

.user-info .separator {
    margin: 0 10px;
}

.user-info form {
    display: inline-block;
}

.logout-button {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.logout-button i {
    margin-right: 5px;
}