{% extends "qda_gpt/base.html" %}

{% block title %}Dashboard - QDA-GPT{% endblock %}

{% block content %}
    <div class="container form-container">
        <h2>Setup and Analyze</h2>
        <form method="post" enctype="multipart/form-data" id="setup-form" action="{% url 'dashboard' %}" onsubmit="return handleSubmit(event)">
            {% csrf_token %}
            <div class="form-section">
                <label for="file-input">Upload Qualitative Data File:</label>
                <input type="file" name="file" id="file-input" {% if file_name %} disabled {% endif %}>
                {% if file_name %}
                    <p>File selected: {{ file_name }}</p>
                {% endif %}
            </div>
            <div class="form-section">
                <label for="model_choice">Select OpenAI Language Model:</label>
                {{ setup_form.model_choice }}
            </div>
            <div class="form-section">
                <label for="analysis_type">Select Analysis Type:</label>
                <button type="button" id="thematic-button" class="analysis-button" onclick="selectAnalysisType('thematic')">Thematic Analysis</button>
                <button type="button" id="content-button" class="analysis-button" onclick="selectAnalysisType('content')">Content Analysis</button>
                <button type="button" id="grounded-button" class="analysis-button" onclick="selectAnalysisType('grounded')">Grounded Theory</button>
                <input type="hidden" name="analysis_type" id="analysis_type_hidden" value="{{ analysis_type }}">
                <div id="selected-analysis-type" class="form-section">
                    {% if analysis_type %}
                        Selected analysis type: {{ analysis_type|capfirst }} Analysis
                    {% else %}
                        No analysis type selected.
                    {% endif %}
                </div>
            </div>
            <div class="form-section">
                <label for="user_prompt">Write prompt:</label>
                <textarea name="user_prompt" id="user_prompt" placeholder="Enter your prompt here..." required class="prompt-input" rows="7">{{ user_prompt }}</textarea>
            </div>
            <div class="form-section">
                <label>Launch Analysis:</label>
                <button type="submit" name="action" value="analyze" id="analyze-button" class="disabled-button" disabled>Analyze</button>
            </div>
            <div id="status-container" class="form-section">
                <label>Analysis Status:</label>
                <div class="status-text">
                    <strong>
                        {% if analysis_status %}
                            {{ analysis_status }}
                        {% else %}
                            <span id="setup-status">Waiting...</span>
                        {% endif %}
                    </strong>
                </div>
            </div>
            <div class="form-section">
                <label>Download CSV:</label>
                <button type="button" id="download-csv-btn" onclick="downloadCSV()" class="disabled-button" disabled>Download CSV</button>
            </div>
            <div class="form-section">
                <label>Clear Session Input and Data:</label>
                <button type="button" onclick="clearSessionData()">Clear Session</button>
            </div>
        </form>
    </div>

    <div class="container form-container">
        <h2>Results</h2>
        <div id="analyze-loader" class="loader">
            <div class="outer-ring"></div>
            <div class="outer-ring"></div>
            <div class="inner-ring"></div>
            <div class="inner-ring"></div>
        </div>
        <div class="left-align">
            {% include "qda_gpt/response_table.html" %}
            {% if deletion_results %}
                <div><strong>OpenAI API call termination status:</strong> {{ deletion_results }}</div>
                <div id="deletion-results" data-results="true"></div>
            {% else %}
                <div id="deletion-results" data-results="false"></div>
            {% endif %}
        </div>
    </div>
{% endblock %}