{% extends "qda_gpt/base.html" %}

{% block title %}Dashboard - QDA-GPT{% endblock %}

{% block content %}
    <div class="container form-container">
        <h2>Setup and Analyze</h2>
        <form method="post" enctype="multipart/form-data" id="setup-form" action="{% url 'dashboard' %}" onsubmit="return handleSubmit(event)">
            {% csrf_token %}
            <div class="form-section">
                <label class="form-label">
                    Upload Qualitative Data File
                    <svg class="info-button" data-info-id="file-info" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18">
                        <circle cx="12" cy="12" r="11" fill="#fff" stroke="#001f3f" stroke-width="2"/>
                        <text x="12" y="18" font-family="Consolas, monospace" font-size="18" fill="#001f3f" text-anchor="middle" font-weight="900">i</text>
                    </svg>
                </label>
                <input type="file" name="file" id="file-input" class="form-input" {% if uploaded_file_name %} disabled {% endif %}>
                {% if uploaded_file_name %}
                    <p>File selected: {{ uploaded_file_name }}</p>
                {% endif %}
                <div class="spacer"></div>
                <div id="file-info" class="info-box">
                    <span class="close" onclick="hideInfo('file-info')"><i class="fas fa-times"></i></span>
                    <h4>Upload Qualitative Data File</h4>
                    <p>Upload your qualitative data file here. At least, the following formats are supported: DOC, DOCX, HTML, JSON, PDF and TXT.</p>
                </div>
            </div>
            <div class="form-section">
                <label for="model_choice">
                    Select OpenAI Language Model
                    <svg class="info-button" data-info-id="model-info" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18">
                        <circle cx="12" cy="12" r="11" fill="#fff" stroke="#001f3f" stroke-width="2"/>
                        <text x="12" y="18" font-family="Consolas, monospace" font-size="18" fill="#001f3f" text-anchor="middle" font-weight="900">i</text>
                    </svg>
                </label>
                {{ setup_form.model_choice }}
                <div id="model-info" class="info-box">
                    <span class="close" onclick="hideInfo('file-info')"><i class="fas fa-times"></i></span>
                    <h4>Select OpenAI Language Model</h4>
                    <p>Select the OpenAI language model to use for the analysis:</p>
                    <p>- GPT-3.5 Turbo: A fast, inexpensive model for simple tasks</p>
                    <p>- GPT-4 Turbo and GPT-4: The previous set of high-intelligence models</p>
                    <p>- GPT-4 mini: The most cost-efficient model that’s smarter and cheaper than GPT-3.5 Turbo</p>
                    <p>- GPT-4o: The fastest and most affordable flagship model</p>
                </div>
            </div>
            <div class="form-section">
                <label for="analysis_type">Select Analysis Type:</label>
                <button type="button" id="thematic-button" class="analysis-button" onclick="selectAnalysisType('thematic')">Thematic Analysis</button>
                <button type="button" id="content-button" class="analysis-button" onclick="selectAnalysisType('content')">Content Analysis</button>
                <button type="button" id="grounded-button" class="analysis-button" onclick="selectAnalysisType('grounded')">Grounded Theory</button>
                <input type="hidden" name="analysis_type" id="analysis_type_hidden" value="{{ analysis_type }}">
                <div id="selected-analysis-type" class="form-section">
                    {% if analysis_type %}
                        Selected analysis type: {{ analysis_type|capfirst }} Analysis
                    {% else %}
                        No analysis type selected.
                    {% endif %}
                </div>
            </div>
            <div class="form-section">
                <label class="form-label">
                    Write prompt
                    <svg class="info-button" data-info-id="prompt-info" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18">
                           <circle cx="12" cy="12" r="11" fill="#fff" stroke="#001f3f" stroke-width="2"/>
                        <text x="12" y="18" font-family="Consolas, monospace" font-size="18" fill="#001f3f" text-anchor="middle" font-weight="900">i</text>
                    </svg>
                </label>
                <textarea name="user_prompt" id="user_prompt" class="form-input" placeholder="Provide initial instructions and information for the OpenAI Assistant for performing the analysis. Providing research questions and/or objectives is recommendable. Also e.g. relevant context and/or information about the analysis can be provided." required class="prompt-input" rows="7">{{ user_prompt }}</textarea>
                <div id="prompt-info" class="info-box">
                    <span class="close" onclick="hideInfo('file-info')"><i class="fas fa-times"></i></span>
                    <h4>Write Prompt</h4>
                    <p>Provide initial instructions and information for the OpenAI Assistant for performing the analysis. Providing research questions and/or objectives is recommendable. Also e.g. relevant context and/or information about the analysis can be provided.</p>
                    <br>
                    <p>You can give information about the number of codes, categories etc. you wish to have.</p>
                    <br>
                    <p>You can give information about the previous iterations. E.g. results, instructions regarding the desired outcome, etc.</p>
                </div>
            </div>
            <div class="form-section">
                <label>Launch Analysis</label>
                <button type="submit" name="action" value="analyze" id="analyze-button" class="disabled-button" disabled>Analyze</button>
            </div>
            <div id="status-container" class="form-section">
                <label>Analysis Status</label>
                <div class="status-text">
                    <strong>
                        {% if analysis_status %}
                            {{ analysis_status }}
                        {% else %}
                            <span id="analysis-status">Waiting...</span>
                        {% endif %}
                    </strong>
                </div>
            </div>
            <div class="form-section">
                <label>Download Excel</label>
                <button type="button" id="download-xlsx-btn" onclick="downloadXLSX()" class="disabled-button" disabled>Download Excel</button>
            </div>
            <div class="form-section">
                <label>Clear Session Input and Data</label>
                <button type="button" onclick="clearSessionData()">Clear Session</button>
            </div>
        </form>
    </div>

    <div class="container form-container">
        <h2>Results</h2>
        <div id="analyze-loader" class="loader">
            <div class="outer-ring"></div>
            <div class="outer-ring"></div>
            <div class="inner-ring"></div>
            <div class="inner-ring"></div>
        </div>
        <div id="websocket-data">
            <!-- WebSocket data will be displayed here -->
        </div>
        <div id="status-container">
            <!-- Analysis status updates will be displayed here -->
        </div>
        <div class="left-align">
            {% include "qda_gpt/response_table.html" %}
            <br>
            {% load static %}
            {% if flowchart_path %}
                <div><strong>Generated Flowchart:</strong></div>
                <img src="{{ flowchart_path }}" alt="Flowchart" style="margin-top: 6px; margin-bottom: 12px;">
            {% endif %}
            <br>
            {% if deletion_results %}
                <div><strong>OpenAI API call termination status:</strong> {{ deletion_results }}</div>
                <div id="deletion-results" data-results="true"></div>
            {% else %}
                <div id="deletion-results" data-results="false"></div>
            {% endif %}
        </div>
    </div>
{% endblock %}